* {
    box-sizing: border-box;
}
.row {
    display: flex;
    flex-wrap: wrap;
}
.page1, .page2, .page3, .page4 {
    flex: 100%;
    background-color: darkslategrey;
    padding: 20px;
}
.header {
    padding: 60px;
    text-align: center;
    color:forestgreen;
    font-family: 'Chakra Petch';
    background-color: darkslategrey;
    font-size: 20px;
}
.body {
    margin: 0;
    padding: 0;
    font-family: 'Shadows-Into-Light';
    background-color:darkslategray;
    color:floralwhite;
    font-size: 16px;
}

.button {
    border: solid;
    color:aliceblue;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
    background-color: black;
}
.img {
    float: right;
    display: block;
    height: 300px;
    max-width: 150px;
    margin: auto;
}
.logo {
    background: url('Updated-Portfolio/img/tswebdes.jpg');
}
.footer {
    padding: 20px;
    text-align: center;
    background-color: darkslategrey;
}
/*Container holding image and text*/
.container {
    position: relative;
    text-align: center;
    color:firebrick;
}
.top-left {
    position: absolute;
    top: 8px;
    left: 16px;
}
.bottom-right {
    position: absolute;
    bottom: 8px;
    right: 16px;
}
.bottom-left {
    position: absolute;
    bottom: 8px;
    left: 16px;
}
/*Nav*/
.nav {
    background-color: black;
    overflow: hidden;
}
.nav a{
    color:springgreen;
    text-align: center;
    margin-top: 20px;
    font-style: 16px;
    text-decoration: none;
    padding: 14px 16px;
}
.nav a.right{
    float:right;
}
.nav a.active {
    background-color: black;
    color:greenyellow;
    opacity: 1;
    border-bottom: 2px solid seashell;
}
.nav a:hover {
    background-color: slategrey;
    color:springgreen;
    opacity: 1;
}
@media screen and(max-width: 400px) {
    .nav a {
        float: none;
        width: 100%;
    }
}
/*Pages*/
.page1, .page2, .page3, .page4 {
    flex: 100%;
    background-color: darkslategrey;
    padding: 20px;
}
@media screen and (max-width: 700px) {
    .row {
        flex-direction: column;
    }
}