body {
    padding-top: 66px;
    font-family:fantasy;
    color:black;
    font-size: 14px;
    line-height: 20px;
}
h1 {
margin: 10px 0px;
font-size: 38px;
line-height: 44px;
font-weight: 500;
}
h2 {
    margin: 0px 0px 32px;
    font-size: 32px;
    line-height: 36px;
    font-weight: 300;
}
h3 {
    margin: 0px 0px 6px;
    font-size: 18px;
    line-height: 21px;
    font-weight: 300;
}
h4 {
    margin: 10px 0px;
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
}
h5 {
margin: 10px 0px;
font-size: 14px;
line-height: 20px;
font-weight: 700;
}
h6 {
margin: 10px 0px;
font-size: 12px;
line-height: 18px;
font-weight: 700;
}
p {
margin-top: 0px;
margin-bottom: 10px;
}
.button {
display: inline-block;
margin-right: 14px;
padding: 16px 28px;
border: 2px solid #000;
background-color: black;
-webkit-transition: background-color 250ms ease, color 250ms ease, border-color 250ms ease;
transition: background-color 250ms ease, color 250ms ease, border-color 250ms ease;
color: #fff;
font-size: 18px;
font-weight: 400;
text-align: center;
text-decoration: none;
text-transform: transparent;
}
.button:hover {
    border-color: #fff;
    background-color: transparent;
}
.button.hollow {
    
}