* {
    box-sizing: border-box;
}
header {
    padding: 60px;
    text-align: center;
    color:forestgreen;
    font-family: 'Chakra Petch';
    background-color: darkslategrey;
    font-size: 20px;
}
body {
    margin: 0;
    padding: 0;
    font-family: 'Shadows-Into-Light';
    background-color:darkslategray;
    color:floralwhite;
    font-size: 16px;
}

.button {
    border: solid;
    color:aliceblue;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
    background-color: black;
}
img {
    float: right;
    display: block;
    height: 300px;
    max-width: 150px;
    margin: auto;
}
/*Nav*/
.nav {
    background-color: black;
    overflow: hidden;
}
.nav a{
    color:springgreen;
    text-align: center;
    float: right;
    margin-top: 20px;
    font-style: 16px;
    text-decoration: none;
    padding: 14px 16px;
}
.logo {
    background: url('img/tswebdes.jpg');
}

.nav a.active {
    background-color: black;
    color:greenyellow;
    opacity: 1;
    border-bottom: 2px solid seashell;
}
.nav a:hover {
    background-color: slategrey;
    color:springgreen;
    opacity: 1;
}